<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body>
    <h1>Bem vindo</h1>

    <nav>
        <ul>
            <li><a href="/cadastrarItem">Adicionar item ao banco de dados</a></li>
            <li><a href="/listaProdutosbtn">Olhar produtos cadastrados</a></li>
        </ul>
    </nav>
</body>
</html>